<img src="ku_logo_uk_v.png" alt="drawing" width="130" style="float:right"/>

# <span style="color:#2c061f"> Exercise 7 </span>  

<br>

## <span style="color:#374045"> Introduction to Programming and Numerical Analysis </span>


####  <span style="color:#d89216"> <br> Sebastian Honor√© </span>

## Plan for today
<br>

1. Welcome
3. Intro to pandas
4. Problemset 3 or project

# 2 Intro to pandas

Pandas is a really powerful data science library that you likely will encounter a lot. Pandas is built on top of the NumPy package, meaning a lot of the structure of NumPy is used or replicated in Pandas. 

The core element of Pandas is the `DataFrame`. Looks like a 'classic' dataset and can store heterogeneous tabular data. The `DataFrame` is a `Class` with many methods!  Let's import packages:

In [1]:
import pandas as pd
import numpy as np

# 2.1 The DataFrame

DataFrames can be loaded from pre-existing data (CSV, Excel, STATA, SAS, HTML, txt etc.) or from list and dictionaries:

In [2]:
df = pd.DataFrame(
            {
                "A": 1.0,
                "B": pd.Timestamp("20130102"),
                "C": pd.Series(1, index=list(range(4)), dtype="float32"),
                "D": np.array([3] * 4, dtype="int32"),
                "E": pd.Categorical(["test", "train", "test", "train"]),
                "F": "foo",
            }
        )
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

# 2.2  Accessing columns
Many ways to access columns:

In [7]:
df["A"]
#df.A
#df.loc[:,["A"]]
#df.iloc[:,0]

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

# 2.3 Creating new columns
You can add new columns to the DataFrame and math operations is allowed:

In [8]:
df["G"] = df.A / 2
df

     A          B    C  D      E    F    G
0  1.0 2013-01-02  1.0  3   test  foo  0.5
1  1.0 2013-01-02  1.0  3  train  foo  0.5
2  1.0 2013-01-02  1.0  3   test  foo  0.5
3  1.0 2013-01-02  1.0  3  train  foo  0.5

# 2.4 Subsetting DataFrame
Sometimes you only need specific parts of a DataFrame. To subset often the `.loc` method is used:

In [11]:
df_sub = df.loc[df.E == "test"]
df_sub
#df_sub.reset_index(drop=True)

     A          B    C  D     E    F    G
0  1.0 2013-01-02  1.0  3  test  foo  0.5
2  1.0 2013-01-02  1.0  3  test  foo  0.5

# 2.4 Subsetting continued
Only want specific columns? Provide a list of column names:

In [13]:
df_sub = df.loc[df.E=="test",["A","B","C"]]
df_sub.reset_index(drop=True)

     A          B    C
0  1.0 2013-01-02  1.0
1  1.0 2013-01-02  1.0

# 2.5 summing up

- In general, there is many methods to solve the same problem. 
- Just remember [the zen of python](https://www.python.org/dev/peps/pep-0020/). 
    - Especially, `Simple is better than complex`

# 3 Your turn!

You can choose to work on PS3 or the project.